{% extends 'index.html' %}
{% load static %}
{% block content %}
<div class="flex flex-col mx-4 md:mx-32 lg:mx-64 my-10 gap-10">
    
    <div style="font-family: Roboto" class="p-6 bg-amber-300 rounded-lg border-2 border-black">
        <h5 class="mb-2 text-2xl font-bold text- tracking-tight text-black">{{ project.project_name }}</h5>
        <p class="mb-3 font-normal text-black">{{ project.description }}</p>
        <a href="{{ project.project_link }}" class="inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-black rounded-lg hover:text-amber-300 focus:ring-4 focus:outline-none focus:ring-white">
            GitHub
            <svg aria-hidden="true" class="w-4 h-4 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
        </a>
    </div>

    <div style="font-family: Roboto" class="p-6 bg-black border-2 border-yellow-400 rounded-lg ">
        <img src="{{ project.project_img.url }}">
    </div>
</div>
{% endblock content %}